/*CSS reset settings here*/
*{
    margin: 5px;
    padding: 5px;
    /* border: 1px solid black; */
    overflow: hidden;
    height: auto;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 5px auto;
   }
   #header{
    min-height: 150px;
    background-color: green;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    
    float: right;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    float: none;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
   }
   #navigation, #main_contens{
       float: left;
   }